body{
    width: 100%;
    border-top: 10px solid green;
    padding: 0;
    margin: 0;
    background:white;
}
.name{
    font-size: x-large;
    font-style: italic;
    color:green;
}
.image{
    width: 215px;
    height: 215px;
    padding: 1em;
}
.splitl{
    height: 100%;
    width: 17%;
    position: fixed;
    z-index: 1;
    top: 2.2em;
    overflow-x: hidden;
    padding-top: 20px;
}
.splitr{
    height: 100%;
    width: 80%;
    position: fixed;
    z-index: 1;
    top: 1em;
    overflow-x: hidden;
    padding-top: 20px;
}
.left{
    left: 0;
    background-color:rgb(231, 231, 231);
}
.right{
    right: 0;
    background-color:white;
}
.split{
    column-count: 2;
}

.personal{
    padding: 1.5em;
    padding-bottom: 0em;
    color: green;
    font-size: large;
}